article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }

body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

#pos {
  width: 860px;
  margin: 0 auto 0 auto;
}

header {
  width: 860px;
  height: 120px;
    background: url("../images/Banner.png") no-repeat;
    border-radius: 15px;
    margin-bottom: 10px;
}


#main {
  float: left;
  padding: 10px;
  /*width: 580px;*/
  background: url("../images/backgroundbox.png");
  margin: 10px;
  border-radius: 15px;
  color: black;
}

#breadcrumbs {
  clear: both;
  font-style: italic;
}


#nav_main {
   clear: both;
   font-weight: bold;
   font-size: 22px;
   color: #000000;
   text-align: center;
   padding-bottom: 0px;
   
}

#nav {
  clear: right;
  background: url("../images/main_back.png") repeat-x;
  border-radius: 15px;
  padding-left: 10px;
}

#nav_main ul, li {
     float: left;
     display: inline;
     list-style-type: none;
     text-align: center;
     text-decoration: none;
     padding: .2em 1em 13px;
}

a.pathway {
	text-decoration: none;
}

.menu a:link, a:visited {
 color: #c2c2c2; 
 text-decoration: none; 
 text-shadow: 1px 1px #7f7f7f;
}
.menu a:hover {
	color: white;
}

article {
  float: left;
}

article#inlinecontent a {
	color: blue;
}

aside {
  float: right;
  width: 400px;
  background: url("../images/main_back.png");
  border-radius: 15px;
  margin-top: 15px;
  text-align: center;
}
/*
#right ul li {
  width: 240px;
  float: none;
}
*/
}
footer {
   clear: both;
   float: none;
   background: url("../images/Footer-01.png") no-repeat;
   border-radius: 15px;
   padding-top: 10px;
}

#mantra {
	clear: both;
	color: #c2c2c2;
	background: url("../images/Footer-01.png") no-repeat;
	padding: 10px;
	margin: 15px;
	text-align: center;
	font-size: 15px;
	text-shadow: 1px 1px #7f7f7f;
	border-radius: 15px;
}

#cool {
	width: 860px;
  	margin: 0 auto 0 auto;
	clear: both;
}

#googleplus {
	float: left;
	width: 40px;
	height: 40px;
}

div#googleplus:hover {
	transition-property: width;
	transition-duration: 1s;
	transition-timing-function: linear;
	transition-delay: 0s;
	/* Firefox 4 */
	-moz-transition-property:width;
	-moz-transition-duration:1s;
	-moz-transition-timing-function:linear;
	-moz-transition-delay:2s;
	-moz-transform: rotate(360deg) scale(2);
	/* Safari and Chrome */
	-webkit-transition-property:all;
	-webkit-transition-duration:1s;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:0s;
	-webkit-transform: scale(2);
}
#fedora {
	float: right;
	width: 200px;
	height: 61px;
}

div#fedora:hover {
	transition-property: width;
	transition-duration: 1s;
	transition-timing-function: linear;
	transition-delay: 0s;
	/* Firefox 4 */
	-moz-transition-property:width;
	-moz-transition-duration:1s;
	-moz-transition-timing-function:linear;
	-moz-transition-delay:2s;
	-moz-transform: rotate(360deg) scale(2);
	/* Safari and Chrome */
	-webkit-transition-property:all;
	-webkit-transition-duration:1s;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:0s;
	-webkit-transform: rotate(360deg) scale(2);
}

#python {
	float: right;
	width: 200px;
	height: 68px;
}
