<<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  	<title>AppelonD's mysite</title>
  	<link href="css/default.css" rel="stylesheet" type="text/css">
  	<meta name="Dennis Appelon Nielsen AKA AppelonD" content="">
</head>
<body>
	<div id=pos>
		<header id=banner></header>
	<div id=nav>
		<nav id=breadcrumbs>Home > </nav>
		<nav id=nav_main>Home | About Me</nav>
		<aside>
			<h4>
				This is the aside bar
			</h4>
			<p>Nullam venenatis gravida orci. Curabitur lorem risus, sagittis vitae, 
				accumsan a, iaculis id, metus. Aenean scelerisque metus eget sem. 
				Pellentesque convallis dolor vel libero. Nam consectetuer mollis dolor. 
				Mauris et pede. Aliquam justo lectus, iaculis a, auctor sed, congue in,
			</p>
		</aside>
	</div>
	<div id=main>
		
		<article>
			<section>
				<h2>This is the section of an article</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
					Fusce consectetuer tellus ut nisl. Nulla sed lacus. Phasellus at purus sed purus cursus iaculis. 
					In hac habitasse platea dictumst. Praesent aliquet, neque pretium congue mattis, ipsum augue dignissim ante, 
					ac pretium nisl lectus at magna. Donec ut purus. Suspendisse potenti. Curabitur tincidunt tellus nec purus. 
					Mauris et pede. Quisque dictum quam vel neque. Suspendisse potenti. Aenean justo ipsum, luctus ut, volutpat 
					laoreet, vehicula in, libero. Aenean scelerisque metus eget sem. Cras ac enim vel dui vestibulum suscipit. 
					Sed non ipsum. Quisque arcu ante, cursus in, ornare quis, viverra ut, justo. Praesent semper, neque vel condimentum 
					hendrerit, lectus elit pretium ligula, nec consequat nisl velit at dui. Phasellus auctor enim eget sem. 
					Praesent a eros. 
				</p>
			</section>
		</article>
		</div>
	<footer>OpenSource is the answer to all human problems</footer>
	</div>
	<div id=cool>	
		<div id=fedora>
			<img src="images/Logo_fedoralogo.png" alt=""Fedora Logo" />
		</div>
		<div id=python>
			<img src="images/python-logo-master-v3-TM.png" alt="Python Logo">
		</div>
	</div>	
</body>
</html>
